- if resource.errors.any?
  #error_explanation
    %h2#error_explanation_count
      = I18n.t("errors.messages.not_saved",                 |
        count: resource.errors.count,                       |
        resource: resource.class.model_name.human.downcase) |
    %ul#error_explanation_details
      - resource.errors.full_messages.each do |message|
        %li= message
