.mypage-user
  = link_to "#", class: "mypage-user__link" do
    %figure
      = image_tag("/images/member_photo_noimage_thumb.png", alt: "member", class: "member", width: "60", height: "60")
    %h2.nickname
      = @user.nickname
    .mypage-count
      .mypage-count__evaluation
        評価
        %span.mypage-count__evaluation--number 10
      .mypage-count__exhibition
        出品数
        %span.mypage-count__exhibition--number 30