.main-brandry {
  width: 1020px;
  margin: 40px auto 0;
  padding: 15px 40px 10px;
  .main-box {
    margin: 0 0 20px;
    .items-genre-box {
      .box-title {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
  .all-kinds {
    padding: 0 0 15px;
    display: flex;
    flex-wrap: wrap;
    .brand {
      text-decoration: none;
      font-size: 15px;
      color: black;
      padding: 15px;
      background: white;
      border-radius: 6px;
      box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
      margin-left: 10px;
      margin-bottom: 10px;
      &:hover {
        background-color: #ea352d;
        color: #fff;
      }
    }
  }
  .items-boxes {
    .items-lists {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
      &__each {
        width: 20%;
        padding: 10px;
        .item-sammary {
          position: relative;
          .sammary {
            display: inline-block;
            position: relative;
            text-decoration: none;
            vertical-align: top;
            .item-image {
              width: 100%;
              flex-direction: column;
              align-items: center;
              display: flex;
              position: relative;
              margin: 0 auto;
              .caption {
                height: 64px;
                box-sizing: border-box;
                color: #222;
                font-size: 14px;
                line-height: 1.4em;
                padding: 12px;
                white-space: normal;
                word-break: break-word;
                align-items: center;
                display: flex;
                width: 100%;
                background-color: white;
                position: relative;
                .line {
                  display: inline-block;
                  height: 2.8em;
                  overflow: hidden;
                  position: relative;
                }
                .like-count {
                  align-items: center;
                  display: flex;
                  margin: auto;
                  position: absolute;
                  right: 12px;
                  top: 32px;
                }
              }
              .image-thumbnail {
                margin: 0 auto;
                overflow: hidden;
                width: 188px;
                height: 188px;
                .price {
                  align-items: center;
                  background: rgba(0,0,0,.4);
                  border-radius: 0 14px 14px 0;
                  bottom: 70px;
                  color: #fff;
                  display: inline-flex;
                  font-size: 17px;
                  height: 28px;
                  letter-spacing: .02em;
                  margin: 0;
                  padding: 0 12px;
                  position: absolute;
                  z-index: 2;
                }
                .sample {
                  bottom: 0;
                  object-fit: cover;
                  vertical-align: top;
                  width: 100%;
                  z-index: 1;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}