* {
  box-sizing: border-box;
}

.main {
  width: 700px;
  margin: 40px auto 0;
  background-color: white;
  padding: 24px 40px 40px;
  .main-title {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  }
  .main-clearfix {
    display: flex;
    margin-top: 16px;
    .main-photos {
      min-width: 300px;
      max-width: 300px;
      min-height: 375px;
      margin: 0;
    }
    .main-details {
      min-width: 300px;
      max-width: 300px;
      min-height: 375px;
      margin: 0 auto;
    }
  }
}

.footer {
  height: 150px;
  width: 100%;
}