.notifications {
  .notice {
    background-color: rgb(43, 142, 242);
    text-align: center;
    color: white;
  }
  .alert {
    background-color: rgb(242, 46, 43);
    text-align: center;
    color: white;
  }
}