* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  min-height: 100%;
  position: relative;
}

.registration-main {
  .sign-up-container {
    margin: 0 auto;
    width: 700px;
    background-color: white;
    &__title {
      font-size: 22px;
      padding: 32px;
      font-weight: bold;
      margin: auto;
      text-align: center;
    }
    .form-shipping-address{
      padding: 40px 40px 64px;
      border-top: 1px solid #f5f5f5;
      .contents-fields {
        max-width: 343px;
        margin: 0 auto;
        .field-top {
          & label {
            font-weight: 600;
          }
          #shipping_address_zipcode {
            @include form-box
          }
          &__require {
            background-color: #ea352d;
            @include require-sign;
          }
          .notification {
            margin: 5px 0 0 0;
            color: #888;
            font-size: 13px;
          }
        }
        .field {
          margin-top: 30px;
          & label {
            font-weight: 600;
          }
          #shipping_address_prefecture {
            @include form-box
          }
          #shipping_address_city {
            @include form-box
          }
          #shipping_address_address {
            @include form-box
          }
          #shipping_address_building {
            @include form-box
          }
          #shipping_address_phone_number {
            @include form-box
          }
          &__require {
            background-color: #ea352d;
            @include require-sign;
          }
          &__nini {
            background-color: #ccc;
            @include require-sign;
          }
        }
      }
    }
    .submit-contents {
      max-width: 343px;
      margin: 0 auto;
      .field {
        margin: 40px 0 0;
        &__submit_info {
          font-size: 14px;
          .terms {
            color: #0099e8;
            text-decoration: none;
          }
        }
      }
      .actions {
        #registration {
          width: 100%;
          height: 50px;
          background-color: #ea352d;
          color: white;
          margin-top: 32px;
          font-size: 14px;
          outline: none;
          border-style: none;
          border-radius: 4px;
        }
      }
      .about-identification {
        text-align: right;
        margin-top: 32px;
        #about-id {
          text-decoration: none;
          font-size: 14px;
          color: #0099e8;
        }
      }
    }
  }
}

.footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  .terms-lists {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 40px 0;
    &__all {
      font-size: 12px;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
  .bottom-logo {
    display: block;
    text-align: center;
  }
  .company-signature {
    text-align: center;
    font-size: 12px;
  }
}