.main-screen {
  max-width: 85%;
  display: flex;
  margin: 40px auto;
  .detail-search {
    width: 25%;
    margin: 40px 40px 0 0;
    &__form {
      width: 100%;
      position: relative;
      &--select {
        @include selectBox;
        margin-bottom: 20px;
      }
      &--arrow-icon {
        @include arrow-down;
      }
      &__container {
        margin-top: 10px;
        padding: 10px;
        background-color: #fff;
        &--main-title {
          font-weight: 600;
          margin-bottom: 10px;
        }
        &--sub-title,
        .fa-search {
          font-weight: 600;
          font-size: 14px;
        }
        &--checkbox {
          margin: 5px 0 10px 0;
          font-size: 10px;
          .checkbox-all,
          .checkbox-all-label {
            vertical-align: middle;
          }
          &--select {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &--boxes {
              width: 46%;
              margin: 6px 10px 0 0;
              line-height: 0;
              .checkbox,
              .checkbox-label {
                vertical-align: middle;
              }
            }
          }
        }
        &--price {
          display: flex;
          justify-content: space-between;
          margin-top: 5px;
          &--input {
            width: 40%;
            line-height: 30px;
            border: 1px solid #999;
            border-radius: 4px;
            outline: none;
          }
          &--input::placeholder {
            padding-left: 5px;
            font-size: 14px;
          }
          &--range {
            font-size: 14px;
            color: #999;
            line-height: 30px;
          }
        }
      }
      &--submit {
        display: flex;
        justify-content: space-around;
        @include submit-contents;
        .clear-btn {
          width: 40%;
          .clear {
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color: #999;
            color: white;
            margin-top: 32px;
            font-size: 14px;
            border-radius: 4px;
          }
        }
        .submit-btn {
          width: 40%;
          margin-bottom: 10px;
          @include submit-contents-actions;
        }
      }
    }
  }
  .main-box {
    position: relative;
    margin: 0 auto;
    width: 100%;
    .items-genre-box {
      background: #fff;
      text-align: center;
      .box-title {
        font-size: 27px;
        padding: 20px 0 20px;
        font-weight: bold;
      }
      .genre-famous {
        padding-bottom: 25px;
        .genre-lists {
          display: flex;
          justify-content: center;
          &__list {
            background: rgb(239,239,239);
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            border-radius: 15px;
            padding: 7px 15px;
            margin: 10px 0 0 10px;
            .list {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
    .all-kinds {
      margin-top: 42px;
      padding: 0 0 15px;
      display: flex;
      flex-wrap: wrap;
      .brand {
        text-decoration: none;
        font-size: 15px;
        color: black;
        padding: 15px;
        background: white;
        border-radius: 6px;
        box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
        margin-left: 10px;
        margin-bottom: 10px;
        &:hover {
          background-color: #ea352d;
          color: #fff;
        }
      }
    }
    .favorite-container {
      padding-top: 42px;
      padding-bottom: 100px;
      width: 100%;
      .favorite-title-box-top {
        margin-bottom: 10px;
        .favorite-title {
          font-size: 18px;
          font-weight: 600;
          color: #888;
        }
        .favorite-more {
        font-size: 15px;
        line-height: 34px;
          .more-items {
            color: #3CCACE;
            text-decoration: none;
          }
        }
      }
      .favorite-title-box-else {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 65px;
        .favorite-title {
          @include box-title;
        }
        .favorite-more {
        font-size: 15px;
        line-height: 34px;
          .more-items {
            color: #3CCACE;
            text-decoration: none;
          }
        }
      }
      .items-boxes {
        .items-lists {
          display: flex;
          flex-wrap: wrap;
          margin: -10px;
          &__each {
            width: 20%;
            padding: 10px;
            @include products;
          }
        }
      }
    }
  }
}