* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  min-height: 100%;
  position: relative;
}

.header {
  height: 128px;
  text-align: center;
  .title-logo {
    display: inline-block;
    margin-top: 40px;
    .logo-link {
      height: 49px;
      width: 185px;
      line-height: 49px;
      .logo {
        height: 49px;
        width: 185px;
      }
    }
  }
}

.registration-main {
  .sign-up-container {
    @include sign-up-container;
    .new_user {
      @include new_user;
    }
    .contents-fields {
      @include contents-fields;
      .field-top {
        label {
          font-weight: 600;
        }
        #user_nickname {
          @include form-box;
        }
      }
      .field {
        margin-top: 30px;
        label {
          font-weight: 600;
        }
        #user_password,
        #user_password_confirmation,
        #user_email {
          @include form-email-password;
        }
        .notification {
          margin: 5px 0 0 0;
          color: #888;
          font-size: 13px;
        }
        #user_last_name,
        #user_first_name,
        #user_last_name_kana,
        #user_first_name_kana {
          @include form-area;
        }
        &__identification {
          font-size: 16px;
          font-weight: 600;
        }
        &__id-text {
          margin: 8px 0 0;
          font-size: 15px;
        }
        .field__require {
          background-color: #ea352d;
          @include require-sign;
        }
        &__birth-day {
          height: 56px;
          margin-top: 5px;
          #user_birth_day_1i {
            height: 48px;
            &.invalid{
              border: 1px solid #ea352d;
              border-radius: 4px;
            }
            &.valid{
              border: 1px solid #3ccace;
              border-radius: 4px;
            }
            &:focus{
              outline: none;
              border-color: #0098e8;
              border-radius: 4px;
            }
          }
          #user_birth_day_2i,
          #user_birth_day_3i {
            @include birthday-form;
          }
        }
      }
      &__info {
        line-height: 1.5;
        margin: 18px 0 0;
        color: #888;
        font-size: 14px;
      }
    }
    .submit-contents {
      @include submit-contents;
      .field {
        @include submit-contents-field;
      }
      .actions {
        @include submit-contents-actions;
      }
      .about-identification {
        @include submit-contents-about-identification;
      }
    }
  }
}

.sign-in-main {
  .sign-in-container {
    margin: 0 auto;
    width: 456px;
    background-color: white;
    .signin-no-account {
      text-align: center;
      padding: 40px 64px;
      &__line {
        font-size: 14px;
      }
      #no-account-signup {
        display: block;
        background-color: #0099e8;
        text-decoration: none;
        color: white;
        margin-top: 8px;
        line-height: 48px;
        border-radius: 4px;
      }
    }
    .login-form-api {
      padding: 32px 64px;
      position: relative;
      #facebook-login {
        border-style: none;
        border-radius: 4px;
        display: block;
        background-color: #385185;
        color: #fff;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        i {
          font-size: 26px;
          position: absolute;
          top: 25%;
          left: 80px;
        }
      }
      #google-login {
        border-radius: 4px;
        display: block;
        margin-top: 16px;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        background-color: #fff;
        color: black;
        i {
          font-size: 26px;
          position: absolute;
          top: 60%;
          left: 80px;
        }
      }
    }
    #new_user {
      .form-fields {
        padding: 24px 64px 32px;
        .field-top {
          height: 48px;
          #user_email {
            width: 100%;
            height: 48px;
            border-radius: 4px;
            border: 1px solid #ccc;
            padding: 10px 16px 8px;
            outline: none;
          }
        }
        .field {
          margin-top: 30px;
          #user_password {
            width: 100%;
            height: 48px;
            border-radius: 4px;
            border: 1px solid #ccc;
            padding: 10px 16px 8px;
            outline: none;
          }
        }
        .actions {
          margin-top: 30px;
          #login-button {
            width: 100%;
            background-color: #ea352d;
            color: white;
            line-height: 48px;
            border-style: none;
            border-radius: 4px;
          }
          #forget-password {
            display: block;
            margin: 40px 0 0;
            text-decoration: none;
            color: #0099e8;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  .terms-lists {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 40px 0;
    &__all {
      font-size: 12px;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
  .bottom-logo {
    display: block;
    text-align: center;
  }
  .company-signature {
    text-align: center;
    font-size: 12px;
  }
}