* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  min-height: 100%;
  position: relative;
}

.header {
  height: 128px;
  text-align: center;
  h1 {
    display: inline-block;
    margin-top: 40px;
    .logo-link {
      height: 49px;
      width: 185px;
      line-height: 49px;
      .logo {
        height: 49px;
        width: 185px;
      }
    }
  }
}

.main {
  .form-container {
    margin: 0 auto;
    width: 700px;
    text-align: center;
    background-color: white;
  }
}