* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  min-height: 100%;
  position: relative;
}

.header {
  height: 128px;
  text-align: center;
  h1 {
    display: inline-block;
    margin-top: 40px;
    .logo-link {
      height: 49px;
      width: 185px;
      line-height: 49px;
      .logo {
        height: 49px;
        width: 185px;
      }
    }
  }
}

.main {
  .form-container {
    margin: 0 auto;
    width: 700px;
    // text-align: center;
    background-color: white;
    h2 {
      font-size: 22px;
      padding: 32px;
      font-weight: bold;
      margin: auto;
      text-align: center;
    }
    .new_user {
      padding: 40px 40px 64px;
      border-top: 1px solid #f5f5f5;
    }
    .contents-fields {
      max-width: 343px;
      margin: 0 auto;
      .field-top {
        label {
          font-weight: 600;
        }
        #user_nickname {
          width: 100%;
          height: 48px;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
        .field-top__require {
          background-color: #ea352d;
          color: #fff;
          font-size: 12px;
          border-radius: 2px;
          margin: 0 0 0 8;
          padding: 2px 4px;
        }
      }
      .field {
        margin-top: 30px;
        label {
          font-weight: 600;
        }
        #user_password {
          width: 100%;
          height: 48px;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
        #user_email {
          width: 100%;
          height: 48px;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
        #user_last_name {
          width: calc(50% - 6px);
          height: 48px;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
        }
        #user_first_name {
          width: calc(50% - 6px);
          height: 48px;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
        }
        #user_last_name_kana {
          width: calc(50% - 6px);
          height: 48px;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
        }
        #user_first_name_kana {
          width: calc(50% - 6px);
          height: 48px;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
        }
        &__identification {
          font-size: 16px;
          font-weight: 600;
        }
        &__id-text {
          margin: 8px 0 0;
          font-size: 15px;
        }
        .field__require {
          background-color: #ea352d;
          color: #fff;
          font-size: 12px;
          border-radius: 2px;
          margin: 0 0 0 8;
          padding: 2px 4px;
        }
      }
    }
  }
}