$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500; 

input.invalid{
  border: 1px solid #ea352d;
}

input.valid{
  border: 1px solid #3ccace;
}

#user_nickname-error,
#user_email-error,
#user_password-error,
#user_password_confirmation-error,
#user_first_name-error,
#user_first_name_kana-error,
#user_birth_day_3i-error,
#user_zipcode-error,
#user_city-error,
#user_address-error{
  color: #ea352d;
  line-height: 1.5;
  font-size: 14px;
  margin-top: 8px;
  display: block;
}

#error_explanation{
  #error_explanation_count{
    background-color: $light_blue;
    color: $white;
    text-align: center;
  }

  #error_explanation_details{
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
} 