input.invalid{
  border: 1px solid #ea352d;
}

input.valid{
  border: 1px solid #3ccace;
}

#user_nickname-error,
#user_email-error,
#user_password-error,
#user_password_confirmation-error,
#user_first_name-error,
#user_first_name_kana-error,
#user_birth_day_3i-error{
  color: #ea352d;
  line-height: 1.5;
  font-size: 14px;
  margin-top: 8px;
  display: block;
}