%li.items-lists__each
  .item-sammary
    - @items.each do |item|
      = link_to item_path(item.id), class:"sammary" do
        %figure.item-image
          .image-thumbnail
            %span.price ¥
            = item.price
            -# = image_tag item.images[0].src.url, class: "sample"
          %figcaption.caption
            %span.line
              = item.name
            .like-count
              = icon("far","heart")
              %span.item-box-likes__number
                4