%ul#slider
  - if @item.images.count == 1
    %li.slide-item
      = image_tag @item.images[0].image.url, alt: "image", class: "slide-image"
  - else
    - @item.images[0...5].each do |image|
      %li.slide-item
        = image_tag image.image.url, alt: "image", class: "slide-image"

%ul#thumbnail-list
  - if @item.images.count >= 2
    - @item.images[0...5].each do |image|
      %li.thumbnail-item
        = image_tag image.image.url, alt: "image", class: "thumbnail-image"