%ul.terms-lists
  %li.terms-lists__all
    = link_to "プライバシーポリシー","#",id:"policy"
  %li.terms-lists__all
    = link_to "フリマ利用規約","#",id:"furima-terms"
  %li.terms-lists__all
    = link_to "特定商取引に関する表記","#",id:"dealing"
= link_to image_tag("/images/logo-white.png",alt:"FURIMA",class:"logo-bottom",height:"65",width:"80"),"#", class:"bottom-logo"
%p.company-signature
  © Furima, Inc.